@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.title {
  margin-bottom: 10px;
  font-size: 20px;
  flex-grow: 1;

  @include mq(tab) {
    font-size: 24px;
  }
}

// .title-course {
//   font-size: 20px;
//   flex-grow: 1;

//   @include mq(tab) {
//     font-size: 24px;
//   }
// }

.course-content-wrapp {
  display: flex;
  flex-direction: column;
}

.video-player-wrapp {
  @include center;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  background-color: $black-bg-color;
  border-radius: 10px;

  @include mq(desk) {
    height: 400px;
  }
}

.video-player {
}

.leson-rating-wrapp {
  display: flex;
  justify-content: space-between;
}

.footer-course {
  height: 160px;
}

.characteristics-accent {
  font-weight: 500;
}

.rating {
  @include center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.rating-l {
  background-color: #2eb12e;
}

.rating-m {
    background-color: #ffff33;
}

.skills-list {
  height: 90px;
  overflow-y: auto;
}
