$main-bg-color: 	#FAF0E6;
$seccond-bg-color: #f3d7bb;
$black-bg-color: #000000;
$white-bg-color: #FFFFFF;
$accent-btn-bg-color:#00BFFF;
$main-btn-bg-color: #f5ff62;

$main-text-color: #000000;
$seccond-text-color: #424242;
// $warning-text: #FF001B;
// $footer-text-color: #545454;
// $modal-grey-text: #8C8C8C;
// $modal-number-grey-bg: #F7F7F7;
// $footer-bg-color: #F7F7F7;
// $pagination-arrow-bg: #F7F7F7;


$cubic: cubic-bezier(0.4, 0, 0.2, 1);