.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  @media screen and (min-width: 375px) {
    width: 375px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 30px;
  }

  @media screen and (min-width: 1380px) {
    width: 1200px;
  }
}
